@charset "UTF-8";

@font-face {
  font-family: "Forum";
  font-display: swap;
  src: url("../fonts/Forum.woff2") format("woff2"), url("../fonts/Forum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Robotoblack.woff2") format("woff2"), url("../fonts/Robotoblack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Robotobolditalic.woff2") format("woff2"), url("../fonts/Robotobolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Robotolight.woff2") format("woff2"), url("../fonts/Robotolight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Robotomedium.woff2") format("woff2"), url("../fonts/Robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Robotothin.woff2") format("woff2"), url("../fonts/Robotothin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?lrll8p");
  src: url("../fonts/icomoon.eot?lrll8p#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?lrll8p") format("truetype"), url("../fonts/icomoon.woff?lrll8p") format("woff"), url("../fonts/icomoon.svg?lrll8p#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-slider-next:before {
  content: "\e900";
}

.icon-slider-prev:before {
  content: "\e901";
}

.icon-arrow:before {
  content: "\e902";
}

.icon-check:before {
  content: "\e903";
}

.icon-date:before {
  content: "\e904";
}

.icon-email:before {
  content: "\e905";
}

.icon-facebook:before {
  content: "\e906";
}

.icon-full-screen:before {
  content: "\e907";
}

.icon-instagram:before {
  content: "\e908";
}

.icon-logo:before {
  content: "\e909";
}

.icon-menu-arrow:before {
  content: "\e90a";
}

.icon-mute:before {
  content: "\e90b";
}

.icon-name:before {
  content: "\e90c";
}

.icon-pause:before {
  content: "\e90d";
}

.icon-pinterest:before {
  content: "\e90e";
}

.icon-play:before {
  content: "\e90f";
}

.icon-phone:before {
  content: "\e910";
}

.icon-time:before {
  content: "\e911";
}

.icon-twitter:before {
  content: "\e912";
}

.icon-ticket-type:before {
  content: "\e913";
}

.icon-small-screen:before {
  content: "\e914";
}

.icon-video-arrow-next:before {
  content: "\e915";
}

.icon-video-arrow-prev:before {
  content: "\e916";
}

.icon-volume:before {
  content: "\e917";
}

.icon-youtube:before {
  content: "\e918";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #030303;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 90rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[data-fullscreen] {
  height: 100vh;
}

.touch [data-fullscreen] {
  height: calc(var(--vh, 1vh) * 100);
}

[class*=__image-ibg] {
  position: relative;
}

[class*=__image-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo__img {
  padding: 0px 25px 0px 0px;
}

.logo__link {
  color: #ffffff;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.11;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.title {
  font-family: "Forum";
  font-weight: 100;
  line-height: 1.12;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}

.title-line {
  position: relative;
}

.title-line::after {
  content: "";
  position: absolute;
  background-color: #710707;
  height: 3px;
  left: 0;
}

.title-line-s {
  position: relative;
}

.title-line-s::after {
  content: "";
  position: absolute;
  background-color: #710707;
  height: 3px;
  left: 0;
  bottom: -12px;
}

.header {
  background-color: #030303;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.header__container {
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-open .menu__item {
  opacity: 1;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.menu-open .menu__item:nth-child(2) {
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menu-open .menu__item:nth-child(3) {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu-open .menu__item:nth-child(4) {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-open .menu__item:nth-child(5) {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menu-open .menu__item:nth-child(6) {
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.menu__link {
  position: relative;
  color: #ffffff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-weight: 100;
  letter-spacing: 0.125rem;
}

.menu__link:hover {
  color: #9d8665;
}

.menu__link::before {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 12px;
}

.gallery-menu {
  display: none;
}

.social-menu {
  display: none;
}

.social-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
  width: 47px;
  border-radius: 50%;
  border: solid 1px #ffffff;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.social-menu__item:hover {
  border-color: #9d8665;
}

.social-menu__item:not(:last-child) {
  margin-right: 1.1363636364em;
}

.social-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.social-menu__link:before {
  font-size: 1.375rem;
}

.social-menu__link:hover {
  color: #9d8665;
}

.icon-menu {
  display: none;
}

.welcome {
  background-color: #030303;
  padding-top: 9.375rem;
}

.welcome__container {
  position: relative;
  padding-bottom: 60px;
}

.welcome__description {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  max-width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1.25rem;
  padding-top: 9.375rem;
}

.menu-open .welcome__description {
  opacity: 0;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
}

.welcome__title {
  font-family: "Forum";
  font-weight: 100;
  line-height: 1.12;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}

.welcome__title:not(:last-child) {
  margin-bottom: 25px;
}

.welcome__text {
  color: #ffffff;
  font-weight: 300;
  line-height: 1.18;
  letter-spacing: 2px;
}

.welcome__text:not(:last-child) {
  margin-bottom: 75px;
}

.welcome__btn {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  background-color: #710707;
  color: #ffffff;
  font-weight: 100;
  font-size: 1.375rem;
  letter-spacing: 0.125rem;
  line-height: 1.5;
  border: 0;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  text-align: center;
  padding: 22px 67px;
}

.welcome__btn:hover,
.welcome__btn:focus {
  background-color: #9d8665;
}

.slider {
  margin-left: auto;
  position: relative;
  max-width: 70%;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(16.19%, rgba(0, 0, 0, 0.5)), color-stop(30.73%, rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.slider__slide {
  min-width: 100%;
  position: relative;
  padding-bottom: 75.6%;
  overflow: hidden;
}

.slider__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__control {
  position: absolute;
  z-index: 10;
  bottom: 0px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 600px;
  min-height: 120px;
  background-color: #030303;
  padding: 0px 74px;
}

.slider__fraction {
  font-family: "Roboto";
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.82;
  text-transform: uppercase;
}

.slider__fraction:not(:last-child) {
  margin-right: 55px;
}

.slider__quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__quality:not(:last-child) {
  margin-right: 60px;
}

.slider__quality > .swiper-pagination-bullet {
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.slider__quality > .swiper-pagination-bullet:hover {
  background-color: #9d8665;
}

.slider__quality > .swiper-pagination-bullet:not(:last-child) {
  margin-right: 25px;
}

.slider__quality > .swiper-pagination-bullet-active {
  background-color: #d2b183;
}

.slider__divider {
  padding: 0px 4px;
}

.slider__arrows {
  color: #ffffff;
}

.slider__arrow {
  font-size: 1.75rem;
}

.slider__arrow:not(:last-child) {
  margin-right: 20px;
}

.slider__arrow::before {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.slider__arrow:hover::before,
.slider__arrow:focus::before {
  color: #9d8665;
}

.slider__arrow:active::before {
  color: #7e6c51;
}

.visiting {
  padding: 75px 0px;
}

.visiting__title {
  color: #9d8665;
}

.visiting__title::after {
  width: 100%;
  bottom: -29px;
}

.visiting__title:not(:last-child) {
  margin-bottom: 103px;
}

.visiting__tour {
  margin: 0 -30px;
}

.tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 73px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tour__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  min-width: 390px;
  height: 100%;
  padding: 0 30px;
}

.tour__item:hover h3 {
  color: #9d8665;
}

.tour__item:hover h3::after {
  width: 100%;
}

.tour__body {
  position: relative;
}

.tour__link {
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.tour__link:hover h3::after {
  width: 100%;
}

.tour__picture {
  position: relative;
  padding-bottom: 64.77%;
}

.tour__picture:not(:last-child) {
  margin-bottom: 24px;
}

.tour__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tour__title {
  font-family: "Forum";
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  position: relative;
  color: #030303;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.tour__title:not(:last-child) {
  margin-bottom: 21px;
}

.tour__title::after {
  height: 1px;
  width: 300px;
  -webkit-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.tour__description {
  font-weight: 1 0;
  color: #000000;
}

.tour__description_font-big {
  line-height: 1.18;
}

.tour__description_font-small {
  line-height: 1.18;
}

.explore {
  padding: 79px 0px 77px 0px;
  background-color: #030303;
  color: #ffffff;
}

.explore__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.explore__title {
  margin-bottom: 105px;
}

.explore__title::after {
  width: 100%;
  bottom: -29px;
}

.explore__text {
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.73;
  color: #ffffff;
}

.explore__text:not(:last-child) {
  margin-bottom: 25px;
}

.explore__text_gold {
  color: #9d8665;
}

.slider-explore {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 720px;
          flex: 0 0 720px;
  padding-top: 12px;
}

.slider-explore__block {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider-explore__before {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 2;
  width: 61%;
  height: 100%;
}

.slider-explore__img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-explore__change {
  position: absolute;
  left: 61%;
  top: 0;
  z-index: 10;
  width: 5px;
  height: 100%;
  background-color: #ffffff;
}

.slider-explore__change::after {
  content: "";
  position: absolute;
  left: 61%;
  top: 50%;
  border-radius: 100%;
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video {
  padding: 75px 0;
}

.video__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video__description:not(:last-child) {
  margin-bottom: 75px;
}

.video__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: #9d8665;
}

.video__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.9;
  color: #000000;
  padding-top: 5px;
}

.player {
  position: relative;
}

.player__slide {
  position: relative;
  padding-bottom: 43%;
  cursor: pointer;
}

.player__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.player__controller {
  margin-top: -2px;
}

.player__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0px;
}

.player__arrow {
  font-size: 0.75rem;
  color: #999999;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.player__arrow:hover {
  color: #710707;
}

.player__pagging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  margin-top: -3px;
}

.player__pagging > .swiper-pagination-bullet {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #999999;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.player__pagging > .swiper-pagination-bullet:not(:last-child) {
  margin-right: 20px;
}

.player__pagging > .swiper-pagination-bullet:hover {
  background-color: #710707;
}

.player__pagging > .swiper-pagination-bullet:not(:last-child) {
  margin-right: 20px;
}

.player__pagging > .swiper-pagination-bullet-active {
  background-color: #333333;
}

.controller {
  position: relative;
  background-color: #030303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controller__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  background-color: transparent;
  color: #b3b3b3;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.controller__btn:not(:last-child) {
  margin-right: 50px;
}

.controller__btn:hover,
.controller__btn :focus {
  color: #6e6e6e;
}

.controller__btn_big {
  padding-left: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 220px;
  height: 220px;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 7.5rem;
  color: #ffffff;
  border: 9px solid #ffffff;
  border-radius: 50%;
}

.controller__btn:hover,
.controller__btn :focus {
  color: #ffffff;
  opacity: 0.6;
}

.controller__slider {
  -webkit-appearance: none;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #c4c4c4), color-stop(50%, #c4c4c4));
  background: -o-linear-gradient(left, #c4c4c4 50%, #c4c4c4 50%);
  background: linear-gradient(90deg, #c4c4c4 50%, #c4c4c4 50%);
  outline-style: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.controller__slider:hover {
  opacity: 1;
}

.controller__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.controller__slider:not(:last-child) {
  margin-right: 50px;
}

.controller__slider_sound {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 155px;
          flex: 0 0 155px;
}

.gallery {
  padding: 75px 0px 0px 0px;
  background-color: #030303;
}

.gallery__container {
  position: relative;
}

.gallery__container::before {
  content: "";
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.gallery__title {
  color: #ffffff;
}

.gallery__title:not(:last-child) {
  margin-bottom: 75px;
}

.gallery__wrapper {
  overflow: auto;
}

.gallery__wrapper .simplebar-scrollbar {
  margin: 20px 0px 20px 0px;
  width: 7px;
  height: 20% !important;
  background-color: white;
  opacity: 0.5;
  border-radius: 3px;
}

.gallery__wrapper .simplebar-scrollbar::before {
  background-color: white;
}

.gallery__wrapper .simplebar-scrollbar.simplebar-hover::before,
.gallery__wrapper .simplebar-scrollbar.simplebar-visible::before {
  background-color: white;
}

.gallery__body {
  margin: 0px -18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.gallery__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
}

.column {
  padding-left: 18px;
  padding-right: 18px;
}

.column_padding {
  padding-top: 50px;
}

.column__picture {
  width: 100%;
}

.column__picture:not(:last-child) {
  margin-bottom: 24px;
}

.column__img {
  width: 100%;
}

.tickets {
  padding: 75px 0px;
  background-color: #ffffff;
  color: #030303;
}

.tickets__title {
  color: #9d8665;
  margin-bottom: 102px;
}

.tickets__title::after {
  width: 100%;
  bottom: -29px;
}

.tickets__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tickets__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  padding-bottom: 38.2%;
}

.tickets__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tickets__offer {
  padding-left: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__wrap {
  border: 0;
}

.form__submit {
  font-weight: 300;
  line-height: 1.18;
  letter-spacing: 0.13rem;
  color: #ffffff;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
  background-color: #030303;
  padding: 11px 38px;
}

.form__submit:hover,
.form__submit :focus {
  background-color: #9d8665;
}

.radio__title {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.18;
}

.radio__title:not(:last-child) {
  margin-bottom: 52px;
}

.radio__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: 300;
  line-height: 1.18x;
}

.radio__label:not(:last-child) {
  margin-bottom: 28px;
}

.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio__custom-radio {
  position: relative;
  width: 15px;
  height: 15px;
  border: 2px solid #030303;
  border-radius: 50%;
  margin-right: 18px;
}

.radio__custom-radio::before {
  position: absolute;
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #030303;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.radio__input:checked + .radio__custom-radio::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.amount__title {
  font-weight: bold;
  line-height: 1.18;
  text-align: right;
}

.amount__title:not(:last-child) {
  margin-bottom: 25px;
}

.amount__box:not(:last-child) {
  margin-bottom: 15px;
}

.amount__age {
  font-weight: 300;
  margin-bottom: 15px;
}

.amount__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px #030303 solid;
  padding: 5px 14px;
}

.amount__select-btn {
  font-size: 2rem;
  line-height: 1.16;
  text-align: center;
  border: 0;
  color: #030303;
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.amount__select-btn:hover {
  color: #b3b3b3;
}

.amount__input {
  border: 0;
  background-color: #ffffff;
  color: #030303;
  font-weight: 300;
  max-width: 85px;
  text-align: center;
}

.amount__input:active,
.amount__input:hover,
.amount__input:focus {
  outline: 0;
  outline-offset: 0;
}

.amount__input::-webkit-outer-spin-button,
.amount__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount__input::-webkit-input-placeholder {
  font-weight: 300;
  text-align: center;
}

.amount__input::-moz-placeholder {
  font-weight: 300;
  text-align: center;
}

.amount__input:-ms-input-placeholder {
  font-weight: 300;
  text-align: center;
}

.amount__input::-ms-input-placeholder {
  font-weight: 300;
  text-align: center;
}

.amount__input::placeholder {
  font-weight: 300;
  text-align: center;
}

.amount__total-price {
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.103rem;
  margin-top: 40px;
}

.amount__total-price:not(:last-child) {
  margin-bottom: 60px;
}

.paralax {
  height: 400px;
}

.no-webp .paralax__img{
  background-image: url(../img/parallax_ticket.jpg); }

.paralax__img {
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts {
  background-color: #ffffff;
  padding: 75px 0px;
}

.contacts__title {
  margin-bottom: 100px;
  color: #9d8665;
}

.contacts__title::after {
  width: 100%;
  bottom: -28px;
}

.contacts__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__map {
  position: relative;
  padding-bottom: 42.6%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contacts__map img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info {
  color: #000000;
  font-style: normal;
  font-weight: 300;
  line-height: 1.18;
  padding-right: 100px;
}

.info__title {
  line-height: 1.18;
  font-weight: 500;
}

.footer {
  padding-top: 88px;
  background-color: #030303;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}

.footer__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer__social {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.footer__description::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #666666;
}

.footer__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px;
}

.footer__text {
  font-weight: 200;
  line-height: 1;
  letter-spacing: 0.1rem;
  color: #ffffff;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 130px;
}

.menu-footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.menu-footer__item:not(:nth-child(3n+3)) {
  margin-bottom: 25px;
}

.menu-footer__link {
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 0.125rem;
}

.menu-footer__link:hover {
  color: #9d8665;
}

.page {
  min-width: 0;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (min-width: 92.5em) {
  .title {
    font-size: 5rem;
  }

  .welcome__title {
    font-size: 5rem;
  }

  .welcome__text {
    font-size: 1.75rem;
  }

  .tour__title {
    font-size: 2rem;
  }

  .tour__description_font-big {
    font-size: 1.375rem;
  }

  .tour__description_font-big:not(:last-child):not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .tour__description_font-small {
    font-size: 1.125rem;
  }

  .controller {
    min-height: 5.3125rem;
  }

  .controller {
    padding-right: 1.875rem;
  }

  .controller {
    padding-left: 1.875rem;
  }

  .controller__btn {
    font-size: 1.875rem;
  }

  .controller__slider {
    height: 0.5rem;
  }

  .gallery__container::before {
    height: 22.5rem;
  }

  .gallery__wrapper {
    max-height: 122.5rem;
  }

  .form__submit {
    font-size: 1.375rem;
  }

  .amount__title {
    font-size: 1.75rem;
  }

  .amount__age {
    font-size: 1.375rem;
  }

  .amount__total-price {
    font-size: 1.75rem;
  }

  .info {
    font-size: 1.375rem;
  }

  .info__title {
    font-size: 1.75rem;
  }

  .info__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .info__address:not(:last-child),
  .info__phone:not(:last-child) {
    margin-bottom: 1.75rem;
  }

  .footer__description {
    min-height: 7.5rem;
  }

  .footer__text {
    font-size: 1.375rem;
  }

  .menu-footer__link {
    font-size: 1.375rem;
  }
}

@media (min-width: 1024px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__link::before {
    display: none;
  }

  .menu-footer__item:not(:first-child) {
    margin-left: 0px;
  }
}

@media (min-width: 1024px) and (min-width: 92.5em) {
  .menu__item:not(:first-child) {
    margin-left: 3.5rem;
  }
}

@media (min-width: 64em) {
  .menu-footer {
    padding-left: 5rem;
  }
}

@media (min-width: 1025px) {
  .amount__box {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

@media (min-width: 1496px) {
  .explore__description:not(:last-child) {
    margin-right: 63px;
  }
}

@media (min-width: 95em) {
  .menu-footer {
    padding-left: 9.0625rem;
  }
}

@media (max-width: 1495px) {
  .explore__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .explore__text:not(:last-child) {
    margin-bottom: 0px;
  }

  .explore__text_hidden {
    display: none;
  }

  .slider-explore {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 720px;
  }
}

@media (max-width: 1200px) {
  .welcome__description {
    padding-top: 6.25rem;
  }

  .welcome__title {
    line-height: 1.8;
  }

  .welcome__btn {
    font-size: 1.25rem;
  }
}

@media (max-width: 1024px) {
  .header__container {
    min-height: 130px;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    min-height: 100vh;
    background-color: #030303;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 165px 120px 0px 55px;
    overflow: auto;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: #030303;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
    height: 100vh;
  }

  .menu__item {
    -webkit-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.1363636364em;
  }

  .menu__link {
    display: block;
    line-height: 1.15;
    font-weight: 300;
    font-size: 1.25rem;
    max-width: 122px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .welcome {
    padding-top: 8.125rem;
  }

  .welcome__description {
    padding-top: 3.125rem;
  }

  .welcome__text:not(:last-child) {
    margin-bottom: 50px;
  }

  .welcome__btn {
    padding: 14px 46px;
  }

  .slider {
    max-width: 71%;
  }

  .slider__control {
    min-width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .slider__fraction {
    font-size: 1.25rem;
    line-height: 2;
  }

  .slider__fraction:not(:last-child) {
    margin-right: 45px;
  }

  .slider__quality:not(:last-child) {
    margin-right: 45px;
  }

  .slider__quality > .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .visiting {
    padding: 60px 0px;
  }

  .visiting__title:not(:last-child) {
    margin-bottom: 83px;
  }

  .tour {
    row-gap: 60px;
  }

  .tour__item {
    padding: 0 28px;
    min-width: 386px;
  }

  .tour__title::after {
    width: 150px;
  }

  .explore {
    padding: 60px 0px 60px 0px;
  }

  .explore__title {
    margin-bottom: 83px;
  }

  .explore__block {
    margin-bottom: 63px;
  }

  .explore__text {
    font-size: 1.25rem;
  }

  .video {
    padding: 60px 0;
  }

  .video__description:not(:last-child) {
    margin-bottom: 40px;
  }

  .video__text {
    display: none;
  }

  .player__pagging > .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .controller__btn:not(:last-child) {
    margin-right: 30px;
  }

  .controller__btn_big {
    border: 7px solid #ffffff;
    padding-left: 36px;
    width: 152px;
    height: 152px;
    font-size: 5.1875rem;
  }

  .controller__slider::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
  }

  .controller__slider:not(:last-child) {
    margin-right: 30px;
  }

  .gallery {
    padding: 60px 0px 0px 0px;
  }

  .gallery__title:not(:last-child) {
    margin-bottom: 60px;
  }

  .tickets {
    padding: 60px 0px;
  }

  .tickets__title {
    margin-bottom: 89px;
  }

  .tickets__picture {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .tickets__offer {
    padding-left: 80px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    min-width: 280px;
  }

  .tickets__offer {
    padding-left: 60px;
  }

  .radio {
    display: none;
  }

  .amount {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .contacts {
    padding: 60px 0px;
  }

  .contacts__title {
    margin-bottom: 89px;
  }

  .footer {
    padding-top: 60px;
  }
}

@media (max-width: 1024px) and (max-width: 1024px) {
  .menu__body {
    padding: 160px 55px 35px 55px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  .menu__body {
    padding: 145px 55px 35px 55px;
  }
}

@media (max-width: 1024px) and (max-width: 420px) {
  .menu__body {
    padding: 125px 55px 24px 55px;
  }
}

@media (max-width: 1024px) and (max-width: 400px) {
  .menu__body {
    padding: 125px 20px 24px 20px;
  }
}

@media (max-width: 64em) {
  .footer__wrap {
    row-gap: 42px;
  }

  .menu-footer {
    padding-right: 2.8125rem;
  }
}

@media (max-width: 890px) {
  .welcome__btn {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: 768px) {
  .header__container {
    min-height: 110px;
  }

  .menu__body {
    left: -200%;
    width: 100%;
  }

  .menu__body::before {
    height: 110px;
  }

  .menu__block:not(:last-child) {
    margin-bottom: 1.5909090909em;
  }

  .gallery-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .gallery-menu__picture {
    position: relative;
    padding: 0px 0px 29.5% 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .gallery-menu__picture_small {
    padding: 0px 0px 24.5% 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48.5%;
            flex: 0 1 48.5%;
  }

  .gallery-menu__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .social-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }

  .social-menu::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.5;
  }

  .welcome {
    padding-top: 6.875rem;
  }

  .welcome__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0px;
  }

  .welcome__description {
    position: static;
    text-align: center;
    padding-top: 0rem;
    padding-left: 0;
    min-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -5px;
  }

  .welcome__title {
    text-align: center;
    line-height: 1.5;
  }

  .welcome__title:not(:last-child) {
    margin-bottom: 25px;
  }

  .welcome__text {
    font-size: 1.25rem;
  }

  .slider {
    max-width: 100%;
  }

  .slider__slide {
    padding-bottom: 74.6%;
  }

  .slider__control {
    position: static;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100px;
    padding: 0px 0px;
  }

  .slider__control {
    min-height: 80px;
  }

  .visiting {
    padding: 40px 0px;
  }

  .visiting__title:not(:last-child) {
    margin-bottom: 63px;
  }

  .tour {
    row-gap: 40px;
  }

  .tour__item {
    min-width: 336px;
  }

  .explore {
    padding: 40px 0px 40px 0px;
  }

  .explore__title {
    margin-bottom: 63px;
  }

  .explore__block {
    display: none;
  }

  .slider-explore {
    width: 100%;
  }

  .video {
    padding: 40px 0;
  }

  .video__description:not(:last-child) {
    margin-bottom: 20px;
  }

  .controller__slider_video {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  .controller__slider_sound {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .gallery {
    padding: 40px 0px 0px 0px;
  }

  .gallery__title:not(:last-child) {
    margin-bottom: 40px;
  }

  .gallery__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .tickets {
    padding: 40px 0px;
  }

  .tickets__title {
    margin-bottom: 63px;
  }

  .tickets__picture {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    padding-bottom: 48%;
  }

  .paralax {
    height: 300px;
  }

  .contacts {
    padding: 40px 0px;
  }

  .contacts__title {
    margin-bottom: 63px;
  }

  .contacts__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contacts__map {
    padding-bottom: 55%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .info {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .info:not(:last-child) {
    margin-bottom: 40px;
  }

  .footer {
    padding-top: 40px;
  }
}

@media (max-width: 768px) and (max-width: 20em) {
  .gallery-menu:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .social-menu {
    padding-top: 1.25rem;
  }

  .welcome__title {
    font-size: 1.875rem;
  }

  .info {
    font-size: 0.875rem;
  }
}

@media (max-width: 48em) {
  .footer__social::before {
    display: none;
  }

  .menu-footer {
    padding-left: 3.75rem;
  }
}

@media (max-width: 670px) {
  .menu-footer {
    padding: 0px;
  }

  .menu-footer__list {
    max-height: 75px;
  }

  .menu-footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu-footer__item:not(:nth-child(2n)) {
    margin-bottom: 30px;
  }

  .menu-footer__item:nth-child(2n) {
    margin-bottom: 0px;
  }
}

@media (max-width: 600px) {
  .slider-explore__change {
    width: 3px;
  }

  .slider-explore__change::after {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 500px) {
  .controller__btn_big {
    border: 2px solid #ffffff;
    padding-left: 13px;
    width: 50px;
    height: 50px;
    font-size: 1.6875rem;
  }
}

@media (max-width: 450px) {
  .slider__fraction:not(:last-child) {
    margin-right: 25px;
  }

  .slider__quality:not(:last-child) {
    margin-right: 25px;
  }
}

@media (max-width: 420px) {
  .logo__img {
    height: 16px;
  }

  .logo__link {
    font-size: 1rem;
  }

  .header__container {
    min-height: 90px;
  }

  .menu__body::before {
    height: 90px;
  }

  .gallery-menu {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .gallery-menu__picture {
    padding: 0px 0px 30.65% 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.33%;
            flex: 1 1 33.33%;
  }

  .gallery-menu__picture:not(:last-child) {
    margin-right: 0.5454545455em;
  }

  .gallery-menu__picture_small {
    padding: 0px 0px 30.65% 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.33%;
            flex: 1 1 33.33%;
  }

  .social-menu__item:not(:last-child) {
    margin-right: 0.2272727273em;
  }

  .welcome {
    padding-top: 5.625rem;
  }

  .welcome__container {
    padding-top: 8px;
  }

  .welcome__title {
    font-size: 1.75rem;
    line-height: 1.43;
  }

  .welcome__text {
    font-size: 1rem;
  }

  .slider__fraction {
    font-size: 16px;
    line-height: 250%;
  }

  .slider__quality > .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
  }

  .slider__quality > .swiper-pagination-bullet:not(:last-child) {
    margin-right: 10px;
  }

  .slider__arrow {
    font-size: 1.125rem;
  }

  .slider__arrow:not(:last-child) {
    margin-right: 13px;
  }

  .player__pagging > .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }

  .controller__slider::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }

  .tickets__title {
    margin-bottom: 68px;
  }

  .tickets__picture {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    padding-bottom: 42.2%;
    margin-bottom: 40px;
  }

  .tickets__offer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-left: 0px;
  }

  .amount {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .amount__total-price {
    margin-top: 20px;
  }

  .amount__total-price:not(:last-child) {
    margin-bottom: 30px;
  }

  .contacts__title {
    margin-bottom: 68px;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.25rem;
  }

  .welcome__title {
    font-size: 0.3125rem;
  }

  .welcome__text {
    font-size: 1.125rem;
  }

  .tour__title {
    font-size: 1.125rem;
  }

  .tour__description_font-big {
    font-size: 1rem;
  }

  .tour__description_font-big:not(:last-child):not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .tour__description_font-small {
    font-size: 1rem;
  }

  .controller {
    min-height: 2.8125rem;
  }

  .controller {
    padding-right: 1.25rem;
  }

  .controller {
    padding-left: 1.25rem;
  }

  .controller__btn {
    font-size: 1.125rem;
  }

  .controller__slider {
    height: 0.25rem;
  }

  .gallery__container::before {
    height: 6.25rem;
  }

  .gallery__wrapper {
    max-height: 37.5rem;
  }

  .form__submit {
    font-size: 1rem;
  }

  .amount__title {
    font-size: 1rem;
  }

  .amount__age {
    font-size: 1rem;
  }

  .amount__total-price {
    font-size: 1rem;
  }

  .info {
    font-size: 1rem;
  }

  .info__title {
    font-size: 1rem;
  }

  .info__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .info__address:not(:last-child),
  .info__phone:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .footer__description {
    min-height: 6.25rem;
  }

  .footer__text {
    font-size: 1rem;
  }

  .menu-footer__link {
    font-size: 1rem;
  }
}

@media (max-width: 63.9375em) {
  .menu-footer {
    padding-left: 2.8125rem;
  }
}

@media (max-width: 60.5em) {
  .footer__social {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }
}

@media (max-width: 47.1875em) {
  .footer__text:nth-child(2) {
    display: none;
  }
}

@media (max-width: 41.875em) {
  .footer__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
  }
}

@media (max-width: 26.25em) {
  .footer__wrap {
    margin-bottom: 40px;
  }
}

@media (min-width: 20em) and (max-width: 92.5em) {
  .title {
    font-size: calc(1.25rem + 3.75 * (((100vw - 20rem)) / ((72.5))));
  }

  .welcome__title {
    font-size: calc(0.3125rem + 4.6875 * (((100vw - 20rem)) / ((72.5))));
  }

  .welcome__text {
    font-size: calc(1.125rem + 0.625 * (((100vw - 20rem)) / ((72.5))));
  }

  .tour__title {
    font-size: calc(1.125rem + 0.875 * (((100vw - 20rem)) / ((72.5))));
  }

  .tour__description_font-big {
    font-size: calc(1rem + 0.375 * (((100vw - 20rem)) / ((72.5))));
  }

  .tour__description_font-big:not(:last-child):not(:last-child) {
    margin-bottom: calc(0.625rem + 0.3125 * (((100vw - 20rem)) / ((72.5))));
  }

  .tour__description_font-small {
    font-size: calc(1rem + 0.125 * (((100vw - 20rem)) / ((72.5))));
  }

  .controller {
    min-height: calc(2.8125rem + 2.5 * (((100vw - 20rem)) / ((72.5))));
  }

  .controller {
    padding-right: calc(1.25rem + 0.625 * (((100vw - 20rem)) / ((72.5))));
  }

  .controller {
    padding-left: calc(1.25rem + 0.625 * (((100vw - 20rem)) / ((72.5))));
  }

  .controller__btn {
    font-size: calc(1.125rem + 0.75 * (((100vw - 20rem)) / ((72.5))));
  }

  .controller__slider {
    height: calc(0.25rem + 0.25 * (((100vw - 20rem)) / ((72.5))));
  }

  .gallery__container::before {
    height: calc(6.25rem + 16.25 * (((100vw - 20rem)) / ((72.5))));
  }

  .gallery__wrapper {
    max-height: calc(37.5rem + 85 * (((100vw - 20rem)) / ((72.5))));
  }

  .form__submit {
    font-size: calc(1rem + 0.375 * (((100vw - 20rem)) / ((72.5))));
  }

  .amount__title {
    font-size: calc(1rem + 0.75 * (((100vw - 20rem)) / ((72.5))));
  }

  .amount__age {
    font-size: calc(1rem + 0.375 * (((100vw - 20rem)) / ((72.5))));
  }

  .amount__total-price {
    font-size: calc(1rem + 0.75 * (((100vw - 20rem)) / ((72.5))));
  }

  .info {
    font-size: calc(1rem + 0.375 * (((100vw - 20rem)) / ((72.5))));
  }

  .info__title {
    font-size: calc(1rem + 0.75 * (((100vw - 20rem)) / ((72.5))));
  }

  .info__title:not(:last-child) {
    margin-bottom: calc(2.5rem + 0.625 * (((100vw - 20rem)) / ((72.5))));
  }

  .info__address:not(:last-child),
  .info__phone:not(:last-child) {
    margin-bottom: calc(0.9375rem + 0.8125 * (((100vw - 20rem)) / ((72.5))));
  }

  .footer__description {
    min-height: calc(6.25rem + 1.25 * (((100vw - 20rem)) / ((72.5))));
  }

  .footer__text {
    font-size: calc(1rem + 0.375 * (((100vw - 20rem)) / ((72.5))));
  }

  .menu-footer__link {
    font-size: calc(1rem + 0.375 * (((100vw - 20rem)) / ((72.5))));
  }
}

@media (min-width: 1024px) and (min-width: 20em) and (max-width: 92.5em) {
  .menu__item:not(:first-child) {
    margin-left: calc(1.25rem + 2.25 * (((100vw - 20rem)) / ((72.5))));
  }
}

@media (min-width: 1024px) and (max-width: 20em) {
  .menu__item:not(:first-child) {
    margin-left: 1.25rem;
  }
}

@media (max-width: 768px) and (min-width: 92.5em) {
  .gallery-menu:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .social-menu {
    padding-top: 2.1875rem;
  }

  .welcome__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) and (min-width: 20em) and (max-width: 92.5em) {
  .gallery-menu:not(:last-child) {
    margin-bottom: calc(1.25rem + 0.9375 * (((100vw - 20rem)) / ((72.5))));
  }

  .social-menu {
    padding-top: calc(1.25rem + 0.9375 * (((100vw - 20rem)) / ((72.5))));
  }

  .welcome__title {
    font-size: calc(1.875rem + 0.625 * (((100vw - 20rem)) / ((72.5))));
  }
}

@media (max-width: 768px) and (min-width: 20em) and (max-width: 26.25em) {
  .info {
    font-size: calc(0.875rem + 0.125 * (((100vw - 20rem)) / ((6.25))));
  }
}

@media (min-width: 63.9375em) and (max-width: 95em) {
  .menu-footer {
    padding-left: calc(2.8125rem + 6.25 * (((100vw - 63.9375rem)) / ((31.0625))));
  }
}

@media (min-width: 64em) and (max-width: 95em) {
  .menu-footer {
    padding-right: calc(2.8125rem + 6.25 * (((100vw - 64rem)) / ((31))));
  }
}

@media (min-width: 48em) and (max-width: 64em) {
  .menu-footer {
    padding-left: calc(3.75rem + 1.25 * (((100vw - 48rem)) / ((16))));
  }
}

.webp .paralax__img{ background-image: url(../img/parallax_ticket.webp); }