.customers {
   &__container {
   }
   &__body {
      padding: 240px 0px 205px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0px -12px;
      @media (max-width: 992px) {
         padding: 130px 0px 170px 0px;
         justify-content: center;
      }
      @media (max-width: 767px) {
         padding: 70px 0px 150px 0px;
      }
   }

   &__feedback {
      flex: 0 1 33.33%;
      padding: 0px 12px;
      min-width: 296px;
      @media (max-width: 992px) {
         flex: 1 1 50%;
      }
      @media (max-width: 767px) {
         flex: 1 1 100%;
      }
   }
   &__header {
      flex: 0 1 33.33%;
      padding: 0px 12px;
      min-width: 296px;
      @media (max-width: 992px) {
         flex: 1 1 100%;
         margin-bottom: 30px;
      }
   }
}

.feedback {
   @media (max-width: 767px) {
      &:not(:last-child) {
         margin-bottom: 24px;
      }
   }
   &__item {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      background-color: $color-white;
      border-radius: 20px;
      padding: 45px 43px 45px 44px;
      @media (max-width: 767px) {
         padding: 25px 25px 25px 25px;
      }
   }

   &__text {
      flex: 1 0 auto;
      margin-bottom: 40px;
      color: $color-grey;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.15px;
   }
   &__text::before {
      content: "“";
   }
   &__text::after {
      content: "”";
   }

   &__person {
      display: flex;
      align-items: center;
   }

   &__img {
      margin: 0px 20px 0px 0px;
   }

   &__name {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5x;
      letter-spacing: 0.15px;
      color: $color-salmon;
   }
}
